<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>One Health</title>
</head>
<body style="padding:0; margin:0;">
<table width="900px" height="" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #D72258;" align="center">
  <tr>
    <td><div style=" position:relative;">
      <img width="900" height="260" src="http://labs.myoneh.com/app/webroot/img/header_bg.png" /><span style=" font-family:Arial, Helvetica, sans-serif; position:absolute; z-index:1000; right:90px; top:33px; color:#fff; font-size:16px; font-weight:bold;">+91-95380-80180</span></div></td>
  </tr>
  <tr>
    <td><table width="825" border="0" cellspacing="0" cellpadding="3" align="center">
        <tr>
          <!--<td colspan="2" style="font-family:Arial, Helvetica, sans-serif; color:#1196ce; font-size:25px; text-decoration:underline;text-align:center">TEST VOUCHER</td>-->
          <td colspan="2" style="font-family:Arial, Helvetica, sans-serif; color:#D72258; font-size:25px; text-decoration:underline;text-align:center">TEST VOUCHER</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td> 
        </tr>    
        <tr>
          <!--<td style="font-family:Arial, Helvetica, sans-serif; color:#f5682d; font-size:25px; text-decoration:underline;">Customer Details</td>-->
		  <td style="font-family:Arial, Helvetica, sans-serif; color:#EA3B40; font-size:25px; text-decoration:underline;">Customer Details</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="5"></td>
          <td></td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#7d7d7d; font-size:14px;">Name : <span style="color:#000; border-bottom:1px dotted #717377;">$patient_name$</span></td>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#7d7d7d; font-size:14px;">Date Of Booking : <span style="color:#000; border-bottom:1px dotted #717377;">$date_of_booking$</span></td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#7d7d7d; font-size:14px;">Contact Number : <span style="color:#000;border-bottom:1px dotted #717377;">$customer_contact_no$</span></td>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#7d7d7d; font-size:14px;">Valid Upto : <span style="color:#000;border-bottom:1px dotted #717377;">$voucher_valitity_upto$</span></td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#7d7d7d; font-size:14px;">Unique Id : <span style="color:#000;border-bottom:1px dotted #717377;">$voucher_number$</span></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        
      </table></td>
  </tr>
  <tr>
    <td><table width="825" border="0" cellspacing="0" cellpadding="3" align="center">
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#D72258; font-size:25px; text-decoration:underline;">Investigations To Be Conducted</td>
		  <!--<td style="font-family:Arial, Helvetica, sans-serif; color:#1196ce; font-size:25px; text-decoration:underline;">Investigations To Be Conducted</td>-->
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px;">$test_details_data$</td>
        </tr>
        $package_test_included$
        <tr>
          <td>&nbsp;</td>
        </tr>
      
           
      </table></td>
  </tr>
  <tr>
    <td><table width="825" border="0" cellspacing="0" cellpadding="3" align="center">
        <tr>
          <!--<td style="font-family:Arial, Helvetica, sans-serif; color:#f5682d; font-size:25px; text-decoration:underline;">Address Of Center</td>-->
		  <td style="font-family:Arial, Helvetica, sans-serif; color:#EA3B40; font-size:25px; text-decoration:underline;">Address Of Center</td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px;">$clinic_name$</td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px;">$clinic_address$</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
         
      </table></td>
  </tr>
  
    <tr>
    <td><table width="825" border="0" cellspacing="0" cellpadding="3" align="center">
        <tr>
         <!--<td style="font-family:Arial, Helvetica, sans-serif; color:#1196ce; font-size:25px; text-decoration:underline;">Clinic Working Hours</td>--> 
		 <td style="font-family:Arial, Helvetica, sans-serif; color:#D72258; font-size:25px; text-decoration:underline;">Clinic Working Hours</td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px;">Mon - Fri : $mon_fri$</td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px;">Saturday : $saturday$</td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px;">Sunday : $sunday$</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
         
      </table></td>
  </tr>
    
  <tr>
    <td><table width="825" border="0" cellspacing="0" cellpadding="3" align="center">
        <tr>
          <!--<td style="font-family:Arial, Helvetica, sans-serif; color:#f5682d; font-size:25px; text-decoration:underline;">Payment Details</td>-->
		  <td style="font-family:Arial, Helvetica, sans-serif; color:#EA3B40; font-size:25px; text-decoration:underline;">Payment Details</td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px;">Total Amount - INR $total_amount$ /-</td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px;">Payment Method - $payment_method_text$</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        
      </table></td>
  </tr>
  $home_collection_address_text$  
  <tr>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td><table width="825" border="0" cellspacing="0" cellpadding="3" align="center">
        <tbody><tr>
          <td style="font-family:Arial, Helvetica, sans-serif; color:#5e5b59; font-size:13px; line-height:18px;width: 50%;">
		  <img width="13" height="12" src="http://labs.myoneh.com/app/webroot/img/bullet.jpg"> Terms &amp; Conditions <br>
            The Payment of this voucher is due. This voucher is valid only once our person authenticates 
            and collects the payment at the centre mentioned. <br>
            Please carry a printed copy of this voucher and present it at the reception of the centre.<br>
            Please carry any valid identity proof along with this voucher. <br>
            For appointments, queries or cancellation call : +91 95380 80180<br>
            Please use the unique ID for any further communication with us. </td>
          <td width="10">&nbsp;</td>
          <td align="right" valign="bottom"><img width="50%" src="http://labs.myoneh.com/app/webroot/img/voucher_logo.jpg"></td>
        </tr>
      </tbody></table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="/*background-color:#1999ce;*/background-color:#D72258; height:10px;"></td>
  </tr>
</table>
</body>
</html>
